body {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12px;
    /*zoom: 200%;*/
    /*font-weight: 200;*/
    width: 100%;
    margin: 0px;
}


.logo{
    display: inline-block;
    /*border: 1px solid;*/
    height: 120px;
    width: 250px;
    margin-top: 10px;
}

.numeracion{
    display: inline-block;
    float: right;
    border: 1px solid;
    height: 150px;
    margin-top: 10px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
}

.adicional {
    float: left;
    border: 1px solid;
    border-radius: 10px;
    height: 120px;
    width: 500px;
    padding: 10px 10px;
}

.observacion{
    float: right;
    border: 1px solid;
    height: 120px;
    width: 300px;
    padding: 10px;
    text-align: justify;
    border-radius: 10px;
}

.qr-code{
    float: right;
    border: 1px solid;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    height: 130px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.mensaje {
    float: left;
    border: 1px solid;
    height: 130px;
    width: 820px;
    margin-top: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;  
    margin-bottom: 30px;  
}

.num{
    display: inline-block;
    float: right;
    border: 1px solid;
    height: 180px;
    margin-top: -120px;
    width: 300px;
    text-align: center;
    background-color: rgb(241,241,241);
    border-radius: 10px;
}
.numeracion h4,h3{
    /*font-size: 16px;*/
    font-weight: bold;
}

.empresa{
    display: inline-block;
    /*border: 1px solid;*/
    height: 100px;
    /*margin-top: 10px;*/
    width: 68%;
    padding-left: 10px;
    padding-top: 10px;
    /*padding-right: 10px;*/
    padding-bottom: 10px;
}

.empresa .TxtEmpresa{
    /*font-weight: bold;*/
    font-size: 12px;
}

.cliente{
    display: inline-block;
    border: 1px solid;
    height: 75px;
    width: 64%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.cliente .tdLabel{
    padding-right: 30px;
    text-align: left;
    font-weight: bold;
}

.fechas{
    display: inline-block;
    float: right;
    border: 1px solid;
    height: 75px;
    width: 34%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.fechas .tdLabel{
    padding-right: 1px;
    text-align: left;
    font-weight: bold;
}

.items{
    width: 100%;
    margin-top:10px;
    border: 1px solid;
    /*width: 90%;*/
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12px !important;
}

.items .noBorderLeft{
    border-right-style: none; 
}

.items .noBorder{
    border-left-style: none; 
}

.items thead {
    border: 1px solid;
    border-top: none;
}

.items th {
    /*padding-left: 10px;*/
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.items td {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    /*border: 1px solid black;*/
}

/*.items thead{
    border: 1px solid;
    border-radius:10px;
    padding: 10px;
    background-color: rgb(241,241,241);
}*/

.totales{
    width: 100%;
    border: 1px solid;
}

tr.resumen {
    text-align: right;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px !important;
    /*padding-right: 5px;*/
}

.resumen td {
    border: none;
}

.items .precio{
    text-align: right;
}

.items .descripcion{
    text-align: left;
    padding-left: 40px;
}

.msg{
    display: inline-block;
    border: 1px solid;
    height: 120px;
    width: 75%;
    margin-top: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.qr{
    display: inline-block;
    border: 1px solid;
    float: right;
    height: 120px;
    width: 23%;
    margin-top: 20px;
    /*padding-left: 10px;*/
    /*padding-top: 2px;*/
    /*padding-bottom: 2px;*/
    border-radius: 10px;
}

